.tbox{
	width:883px;height:91px;border:1px solid #EDEDED;border-radius: 6px;
	font-size:12px;
	position: relative;
	.hrline{width:95%;margin-left:2.5%;height: 1px;background: #D7D6DA;position:absolute;top:40px;z-index:0;}
	.tul{
		position: absolute;width:100%;z-index:1;
		li{
			float:left;width:10%;text-align: center;padding:8px 0;z-index:1;
			.name{
				color: #B9BDC8;
			}
			.grey{
				color: #9A9A9A;
			}
			&.active{
				.name{
					color:#87BE30;
				}
				
			}
		}
	}
	
}
.ttable{
		border:1px solid #eee;width:883px;margin-top:12px;
		border-radius: 4px;
		.theader{
			height:35px;line-height:35px;
			background:#FBFBFB;
			color:#9B9B9B;
			font-size:12px;
			
			border-bottom:1px solid #eee;
			.el-col{
				border-right:1px solid #eee;padding-left:5px;
				&:last-child{
					border-right:none;
				}
				.iconfont{					
					margin:5px;font-size:14px;
				}
				.blue{
					color: #68AFFF;
				}
				.red{
					color: #F56666;
				}
				img{
					margin-left:5px;
				}
				
			}
			
		}
		.ttr{
			height:35px;line-height:35px;
			color:#9B9B9B;
			font-size:12px;
			border-bottom:1px solid #eee;
			.el-col{
				border-right:1px solid #eee;padding-left:5px;
				&:last-child{
					border-right:none;
				}
				.iconfont{					
					margin:5px;font-size:13px;cursor:pointer;
				}
				.el-button+.el-button{
					margin-left:0;
				}
				.sendbtn{
					float:right;
					margin:5px;
					font-size:12px;
				}
			}
			&.blacktr{
				.el-col{
					.bspan{
						color:#000 ;
					}
				}
			}
		}
		.maptr{
			.mapblock{
				width:755px;
				height:240px;
				border:1px solid #ccc;
				border-radius: 6px;
				margin:10px;
				overflow:hidden;
			}
			.mapbtn{
				display: block;
				padding:0;
				margin:10px;
			}
			.mapdesc{
				font-size:12px;
				position:absolute;
				bottom: 10px;
				p{
					height:20px;line-height:20px;
					.iconfont{
						font-size:20px;display:block;float:left;
						&.greenm{color:#87BE30 ;}
						&.purplem{color: #807DD3;}
						&.bluem{color:#409EFF ;}
					}
				}
				
			}
		}
	}